{% extends "base.html" %}
{% load static %}

 <title> {% block title %} index{% endblock title %}</title>

{% block css %} <link rel="stylesheet" href=" {% static "css/index.css" %}"> {% endblock css %}

{% block body %}
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">     
          
          <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-aos="fade-up">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="category-card">
                    <img src=" {% static "image/Bedroom.jpg" %}" class="card-img-top " alt="...">
                  <div class="category-overlay">
                    <h2 class='room'>Bedroom Collections</h2>
                    <p >Elegant beds and furniture designed for comfort and relaxation.</p>
                    <a href="#" class="btn explore-btn2 hide-mobile">Explore</a>
                  </div>    
              </div>
            </div>

              <div class="carousel-item">
                <div class="card">
                  <img src=" {% static "image/living_room.jpg" %} " class="card-img-top" alt="...">
                  <div class="category-overlay">
                    <h2 class='room'>Living Room Collections</h2>
                    <p >Comfortable sofas and stylish furniture for a modern living space.</p>
                    <a href="#" class="btn explore-btn2 hide-mobile">Explore</a>
                  </div>               
                </div>
              </div>

              <div class="carousel-item">
                <div class="card">
                  <img src=" {% static "image/diningroom.jpg" %} " class="card-img-top" alt="...">
                  <div class="category-overlay">
                    <h2 class='room'>Dining Room Collections</h2>
                    <p >Beautiful dining tables and chairs for memorable family moments.</p>
                    <a href="#" class="btn explore-btn2 hide-mobile">Explore</a>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card">
                  <img src=" {% static "image/officeroom.jpg" %} " class="card-img-top" alt="...">
                  <div class="category-overlay">
                    <h2 class='room'>Office Collections</h2>
                    <p>Modern desks and furniture designed for productivity and style.</p>
                    <a href="#" class="btn explore-btn2 hide-mobile">Explore</a>
                  </div>
              </div>
            </div>

              <div class="carousel-item">
                <div class="card">
                  <img src=" {% static "image/outdoor.jpg" %} " class="card-img-top" alt="...">
                  <div class="category-overlay">
                    <h2 class='room'>Outdoor Collections</h2>
                    <p >Modern outdoor furniture perfect for relaxing in open spaces.</p>
                    <a href="#" class="btn explore-btn2 hide-mobile">Explore</a>
                  </div>
                </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div> 
      <div class="col-lg-3 ">
        <div>
          <h1 class='lead-heading mt-2 mt-lg-0' data-aos="fade-right" data-aos-duration="1200" >Comfort Meets Style..!! </h1>
        </div>
        <h4 class='lead-text' data-aos="fade-right" data-aos-delay="200">Upgrade your living space with our premium furniture collection.Designed for comfort, style, and durability.</h4>
        <button class='explore-all-btn-tp'  >Explore All  Collections  </button>          
      </div>
    </div>
  </div> 
</section> 

{% comment %} categorie section {% endcomment %}

<section class='Categories_head' id='categories' >
  <div class="container">
    <div class="shop-categories">
      <h2 class='text-center mt-5 mb-4' data-aos="fade-up">Shop by categories</h2>
    </div>
  </div>

  <section class="categories py-5">
    <div class="container">
      <div class="row g-4"> 
        {% for value in category %}       
        <div class="col-md-4 col-lg-3" data-aos="fade-up">
          <div class="card_cat h-100 shadow-sm border-0">
            <img src="{{ value.image.url }}" class="card-img-top">
            <div class="card-body text-center">
              <h5 class="card-title">{{ value.name }}</h5>
              <a href="#" class="btn btn-outline-dark btn-sm ex-btn">Explore</a>
            </div>
          </div>
        </div>
            {% endfor %}
      </div>
    </div>
  </section>
</section>


{% comment %} best seller section {% endcomment %}
<h2 class='best_seller mt-5 mb-4 text-center' data-aos="fade-up">Best Sellers</h2>
<section class='bestsellers'>
  <div class="container bg py-5">
    <div class="row g-4">
      {% for value in product %}
               <!-- Product 1 --> 
      <div class="col-md-4 col-lg-3" data-aos="fade-up">
        <div class="card_bestseller h-100 shadow-sm border-0">
          <img src="{{ value.image.url }}" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title">{{ value.name }}</h5>               
            <p class="text-muted">$ {{ value.price }}</p>                       
            <button class="btn btn-outline-dark btn-sm ex-btn">View Product  </button>
                        
                    
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
</section>


{% comment %} why choose us section  {% endcomment %}


<section class="why-choose py-5">

<div class="container">

<h2 class="text-center why_chhose_us_head mb-5 " data-aos="fade-up">Why Choose Us</h2>

<div class="row text-center">

<div class="col-md-3 " data-aos="fade-up" >
<div class="feature-box">
<i class="bi bi-award feature-icon"></i>
<h5>Premium Quality</h5>
<p>High quality furniture made with durable materials.</p>
</div>
</div>

<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
<div class="feature-box">
<i class="bi bi-truck feature-icon"></i>
<h5>Fast Delivery</h5>
<p>Quick and reliable delivery to your home.</p>
</div>
</div>

<div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
<div class="feature-box">
<i class="bi bi-cash-stack feature-icon"></i>
<h5>Affordable Price</h5>
<p>Best furniture prices with great value.</p>
</div>
</div>

<div class="col-md-3" data-aos="fade-up" data-aos-delay="300">
<div class="feature-box">
<i class="bi bi-shield-check feature-icon"></i>
<h5>Trusted Store</h5>
<p>Thousands of happy customers trust our store.</p>
</div>
</div>

</div>

</div>

</section>


<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
AOS.init({
duration:1000,
once:false,
offset:120
});
</script>
{% endblock body %}
