{% extends "base.html" %}
{% load static %}
{% block title %}category {% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static "css/category_products.css" %}"> {% endblock css %}

{% block body %}    

<h2 class='best_seller mt-5 mb-4 text-center' data-aos="fade-up">{{ category.name }}</h2>


<section class='bestsellers'>
   <div class="container bg py-5">
      <div class="row g-4">
         <!-- Product 1 -->
         
         {% for value in products %} 
         <div class="col-md-4 col-lg-3" data-aos="fade-up">
            <div class="card_bestseller h-100 shadow-sm border-0">     
               <img src="{{ value.image.url }}" class="card-img-top">    
               <div class="card-body text-center">
                  <h5 class="card-title">{{ value.name }}</h5>
                  <p class="text-muted">₹{{ value.price }} </p>
                  <a href="{% url 'product_detailes' value.id %}"> <button class="btn btn-outline-dark btn-sm ex-btn">View Product</button>  </a>               
               </div>    
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>

<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
AOS.init({
duration:1000,
once:false,
offset:120
});
</script>
{% endblock body %}