{% extends "base.html" %}
{% load static %}

{% block title %}Product Detail{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/product_details.css' %}">
{% endblock %}

{% block body %}

<section class="product-container container mt-5">

<div class="row g-4">

<!-- IMAGE SIDE -->
<div class="col-lg-6">

<div class="image-card">

<img src="{{ product.image.url }}" class="product-img">

</div>

</div>


<!-- PRODUCT INFO -->
<div class="col-lg-6">

<div class="info-card">

<h2 class="product-title">{{ product.name }}</h2>

<p class="product-desc" id="desc">
{{ product.description }}
</p>

<span class="read-more" id="readMore">Read more</span>

<div class="price-box">

<span class="price">₹{{ product.price }}</span>

<span class="stock">In Stock</span>

</div>


{% comment %} <!-- QUANTITY -->
<div class="quantity-box">

<label>Quantity</label>

<div class="qty-controls">

<button class="minus">-</button>

<input type="text" value="1" class="qty-input">

<button class="plus">+</button>

</div>

</div> {% endcomment %}


<!-- BUTTONS -->
<div class="action-buttons">

<a href="{% url 'add_to_cart' product.id %}"><button class="btn cart-btn">Add to Cart</button></a>

<a href=""><button class="btn buy-btn">Buy Now</button></a>

</div>

</div>

</div>

</div>

</section>

{% endblock %}

{% block js %}
<script src="{% static 'js/product_details.js' %}"></script>
{% endblock %}